<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" style="margin-left: 14%;font-size: 25px;font-family: Reggae One;" href="#">Petu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <form class="form-inline" style="margin-left: 22%;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search house names, locations, price" aria-label="Search">
    </form>
    <button class="btn btn-outline-primary my-2 my-sm-0" style="margin-left: 10px;" type="submit">Search</button>

    <div class="collapse navbar-collapse" style="margin-left: 40px;" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Account</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Houses saved</a>
            </li>

        </ul>

    </div>
</nav>