nav {
    margin: 0;
    width: 100%;
    height: 10vh;
    background-color: #e3f2fd;
}

img {
    width: 80px;
}

input {
    width: 20pc;
}

ul {
    margin-left: 60%;
}

* {
    position: sticky;
}