<app-navbar></app-navbar>
<div class="container">
    <div class="row g-0" style="margin-bottom: 20px;">
        <div class="col-lg-3" style="padding-right: 30px;">
            <div class="card" style="height: auto;">
                <div class="options">
                    <h3><i class="fa fa-user"></i>My Account</h3>
                    <h3><i class="fa fa-inbox"></i>Inbox</h3>
                    <a routerLink="/admin-panel">
                        <h3><i class="fa fa-home"></i>Rate out space</h3>
                    </a>
                    <a routerLink="/sell-a-house">
                        <h3><i class="fa fa-home"></i>Sell a house</h3>
                    </a>
                    <h3><i class="fa fa-bookmark"></i>Saves houses</h3>
                </div>
                <hr>
                <div class="additional-options">
                    <h3>Details</h3>
                    <h3>Address</h3>
                    <h3>Change password</h3>
                </div>
                <hr>
                <button>LOGOUT</button>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card" style="width: auto;">
                <div class="account">
                    <h2>ACCOUNT</h2>
                </div>
                <div class="card" style="margin-left: 10px;margin-right: 10px;margin-bottom: 10px;width: 60%;">
                    <div class="account-details">
                        <h2 style="margin-top: 5px;">ACCOUNT DETAILS<i style="font-size: 20px;color: blue;margin-left: 50px;" class="fa fa-pencil"></i></h2>
                        <div class="row">
                            <div class="col">
                                <h3>Name</h3>
                                <h4>Email</h4>
                            </div>
                            <div class="col">
                                <h3>Country</h3>
                                <h3>County/City</h3>
                                <h3>Constituency</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button>EDIT PROFILE</button>
                            </div>
                            <div class="col">
                                <button>CHANGE PASSWORD</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-left: 10px;margin-right: 10px;margin-bottom: 10px;width: 60%;">
                    <div class="exclusive-details">
                        <h2>PETU EXCLUSIVE</h2>
                        <hr>
                        <h4>Petu exclusive</h4>
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</h4>
                        <button style="margin-left: 20px;">JOIN PETU EXCLUSIVE</button>
                    </div>
                </div>
                <div class="card" style="margin-left: 10px;margin-right: 10px;margin-bottom: 10px;width: 60%;">
                    <div class="Address">
                        <h2>ADDRESS</h2>
                        <hr>
                        <h4>Your current residential location:</h4>
                        <h4>No default location</h4>
                        <button style="margin-left: 20px;">ADD LOCATION</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <app-recommended></app-recommended>
</div>
<app-housing-footer></app-housing-footer>