<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-family:Noto Serif Display;font-size: 30px;" href="#">Housing</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" style="padding-left: 100px;" routerLink="">Login</a>
                    <a class="nav-link" routerLink="/sign-up">Sign up</a>

                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-5 pt-5">
        <div class="row g-0" style="background-color: white;border-radius: 20px;height: 60vh;">
            <div class="col-lg-7" style="background-color: blue;border-radius: 10px;">
                <h3 style="margin: 20px;color: white;">Housing</h3>
                <p style="margin: 20px;color: white;padding-top: 5px;">Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
            <div class="col-lg-3" style="margin-left: 30px;padding-top: 60px;">
                <h2 class="clo-lg-5 text-center py-5">Sign Up</h2>
                <p class="clo-lg-5 text-center py-2 ">Have an account? <a routerLink="">Login</a></p>
                <p class="clo-lg-5 text-center py-2 ">Welcome back</p>
                <form #registerForm='ngForm' (ngSubmit)="signUp()">
                    <input type="text" id="username" [(ngModel)]="username" class="form-control" name="username" placeholder="username">
                    <br>
                    <input type="email" id="email" [(ngModel)]="email" class="form-control" name="email" placeholder="email">
                    <br>
                    <input type="password" id="password " [(ngModel)]="password" class="form-control" name="password" placeholder="password">
                    <br>
                    <button style="background-color: blue;color: white;border-radius: 5px;margin-left: 90px;" class="btn btn-succes" type="submit ">Sign up</button>
                </form>
            </div>

        </div>
    </div>


</div>