<div class="container">
    <h2>Houses near you</h2>
    <div class="card" style="margin-left: 45px;width: 25pc;height: auto;border: 0;">
        <div class="card" style="width: 100%;height: 22vh;">
            <img src="https://images.pexels.com/photos/87223/pexels-photo-87223.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
        </div>
        <div class="house-details">
            <h3><b>House name</b></h3>
            <p>Location</p>

            <div class="type-and-price">
                <div class="row">
                    <div class="col">
                        <h3>Type</h3>
                    </div>
                    <div class="col">
                        <h3 style="font-size: 25px;"><b>Price</b></h3>
                    </div>
                </div>
            </div>
            <div class="small-details">
                <h4 style="align-self: center;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</h4>
                <button class="btn btn-success">More</button>
            </div>
        </div>
    </div>
    <div class="house-categories">
        <h2>Categories</h2>
        <div class="categories">
            <div class="row">
                <div class="col-lg-2">
                    <div class="card" style="width: 12pc;height: 11pc;border-radius: 20px;background-image: url(https://images.pexels.com/photos/439391/pexels-photo-439391.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);background-position: center;background-size: cover;border: 0;">
                        <h3 style="align-self: center;padding-top: 70%;color: white;"><b>Apartments</b></h3>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card" style="width: 12pc;height: 11pc;border-radius: 20px;background-image: url(https://images.pexels.com/photos/259588/pexels-photo-259588.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);background-position: center;background-size: cover;border: 0;">
                        <h3 style="align-self: center;padding-top: 70%;color: white;"><b>Bungalows</b></h3>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card" style="width: 12pc;height: 11pc;border-radius: 20px;background-image: url(https://images.pexels.com/photos/4322027/pexels-photo-4322027.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);background-position: center;background-size: cover;border: 0;">
                        <h3 style="align-self: center;padding-top: 70%;color: white;"><b>Condominiums</b></h3>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card" style="width: 12pc;height: 11pc;border-radius: 20px;background-image: url(https://images.pexels.com/photos/53610/large-home-residential-house-architecture-53610.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);background-position: center;background-size: cover;border: 0;">
                        <h3 style="align-self: center;padding-top: 70%;color: white;"><b>Mansions</b></h3>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card" style="width: 12pc;height: 11pc;border-radius:20px;background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/BrickRanch.jpg/220px-BrickRanch.jpg);background-position: center;background-size: cover;border: 0;">
                        <h3 style="align-self: center;padding-top: 70%;color: white;"><b>Ranch</b></h3>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card" style="width: 12pc;height: 11pc;border-radius: 20px;background-image: url(https://images.pexels.com/photos/2783862/pexels-photo-2783862.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);background-position: center;background-size: cover;border: 0;">
                        <h3 style="align-self: center;padding-top: 70%;color: white;"><b>Office Buildings</b></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>