.heading h2 {
    margin: 0;
    margin-left: 10px;
}

.heading h3 {
    margin: 0;
    margin-left: 10px;
}

.location-option h2 {
    margin: 0;
    margin-left: 10px;
}

.location-option h3 {
    margin: 0;
    margin-left: 20px;
}

.main-heading h2 {
    margin-left: 20px;
}

.main-heading p {
    margin-left: 20px;
}

img {
    height: 200px;
    width: 220px;
    border-radius: 10px;
}

.details h3 {
    margin: 0;
}

.details p {
    margin: 0;
}