<app-navbar></app-navbar>
<div class="container">
    <p>Home > Options > category</p>
    <div class="row g-0">
        <div class="col-lg-3" style="margin-right: 30px;">
            <div class="card">
                <div class="heading">
                    <h2>Category</h2>
                    <h3>Cateory name</h3>
                </div>
                <hr>
                <div class="location-option">
                    <h2>Location</h2>
                    <h3>Location 1</h3>
                    <h3>Location 2</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card">
                <div class="main-heading">
                    <h2>Category name</h2>
                    <p>Number of houses</p>
                </div>
                <div class="row g-0">
                    <div class="col-lg-2">
                        <div class="card" style="width: 200px;margin: 20px;border: 0;">
                            <img src="https://images.pexels.com/photos/266812/pexels-photo-266812.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                            <div class="details">
                                <h3>House Name</h3>
                                <p>Price (Ksh)</p>
                                <p>Location</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>