<app-pro-navbar></app-pro-navbar>
<div class="row g-0">
    <div class="col-lg-4">
        <div class="options">
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">dashboard</i>
                </div>
                <div class="col">
                    <h3><b>Dasboard</b></h3>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">chat</i>
                </div>
                <div class="col">
                    <h3><b>Chat</b></h3>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">house</i>
                </div>
                <div class="col">
                    <h3><b>My houses</b></h3>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">people</i>
                </div>
                <div class="col">
                    <h3><b>Tenants</b></h3>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">plus_one</i>
                </div>
                <div class="col">
                    <h3><b>Add potential tenant</b></h3>
                </div>
            </div>
        </div>
    </div>

</div>