<app-pro-navbar></app-pro-navbar>
<div class="row g-0">
    <div class="col-lg-3">
        <div class="options">
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i style="color: blue;" class="material-icons">dashboard</i>
                </div>
                <div class="col">
                    <h3 style="color: blue;"><b>Dasboard</b></h3>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">chat</i>
                </div>
                <div class="col">
                    <a routerLink="/admin-chat">
                        <h3><b>Chat</b></h3>
                    </a>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">house</i>
                </div>
                <div class="col">
                    <a routerLink="/admin-houses">
                        <h3><b>My houses</b></h3>
                    </a>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">people</i>
                </div>
                <div class="col">
                    <h3><b>Tenants</b></h3>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">plus_one</i>
                </div>
                <div class="col">
                    <h3><b>Add potential tenant</b></h3>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;margin-top: 80%;">
                <div class="col-lg-1">
                    <i class="material-icons">logout</i>
                </div>
                <div class="col">
                    <h3><b>Logout</b></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7" style="margin-top: 1%;">
        <h1>Main page</h1>
        <div class="dashboard-options">
            <div class="row g-0" style="margin-bottom: 50px;">
                <div class="col-lg-3">
                    <div class="card" style="align-items: center;">
                        <h2><b>Houses</b></h2>
                        <h3><b>12</b></h3>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="align-items: center;">
                        <h2><b>Total tenants</b></h2>
                        <h3><b>50</b></h3>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="align-items: center;">
                        <h2><b>Total income</b></h2>
                        <h3><b>500,000 ksh</b></h3>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="align-items: center;">
                        <h2><b>Housing requests</b></h2>
                        <h3><b>4</b></h3>
                    </div>
                </div>
            </div>
            <div class="row g-0">
                <h2>Rent clearance</h2>
                <div class="card" style="background-color:white;margin: 0;border: 0px;">
                    <div class="row g-0" style="margin-left: 10%;width: 100%;">
                        <div class="col" style="padding-right: 18pc">
                            <h3 style="color: black;"><b>Tenant</b></h3>
                        </div>
                        <div class="col" style="padding-right: 18pc">
                            <h3 style="color: black;"><b>Amount</b></h3>
                        </div>
                        <div class="col" style="padding-right: 18pc">
                            <h3 style="color: black;"><b>Status</b></h3>
                        </div>
                    </div>
                    <div class="card" style="width: 100%;background-color: white;">
                        <div class="tenants-info">
                            <div class="row" style="margin-left: 9%;width: 100%;margin-right: 40px;margin-top: 20px;margin-bottom: 20px;">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-lg-3" style="margin: 0;">
                                            <div class="card" style="width: 60px;height: 60px;margin: 0;border-radius: 30px;"></div>
                                        </div>
                                        <div class="col">
                                            <h4 style="margin: 0;"><b>Tenant</b></h4>
                                            <p><b>House no.</b></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <h4 style="margin-top: 10px;"><b>10000 Ksh</b></h4>
                                </div>
                                <div class="col">
                                    <a class="btn btn-outline-success" style="color: white;width: 90px;"><i style="color: green;padding-left: 20px;margin: 0;" class="far fa-check-circle"></i></a>
                                    <a class="btn btn-outline-danger" style="color: white;width: 90px;"><i style="color: rgb(255, 0, 0);padding-left: 20px;margin: 0;">&#10006;</i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>