<div class="container">
    <div class="house-types" style="width: 100%;">
        <div class="row">
            <div class="col-lg-4">
                <div class="apartments">
                    <div class="card" style="background-image: url(https://github.com/MosesOpiyo/hood_watch_frontend/blob/master/src/assets/images/pexels-francesco-ungaro-4322027.jpg?raw=true);background-position: center;background-size: cover;">
                    </div>
                    <h2 style="padding-top: 5px;">apartments</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bungalows">
                    <div class="card" style="background-image: url(https://github.com/MosesOpiyo/housing_front/blob/master/src/assets/images&videos/pexels-binyamin-mellish-1396122.jpg?raw=true);background-position: center;background-size: cover;">
                    </div>
                    <h2 style="padding-top: 5px;">Bungalow</h2>
                </div>
            </div>

        </div>
    </div>


</div>