<app-navbar></app-navbar>
<div class="container">
    <div class="row g-0">

        <div class="col-lg-5">
            <img style="margin-bottom: 20px;" src="https://images.pexels.com/photos/87223/pexels-photo-87223.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
            <div class="card" style="background-color: blue;height: 15vh;width: 93%;">

            </div>
        </div>
        <div class="col-lg-3">
            <div class="details" style="margin-top: 20px;">
                <div class="row">
                    <h1>Details</h1>
                    <hr>
                    <div class="col-lg-2">
                        <i style="color:blue;font-size: 30px;" class="material-icons">house</i>
                    </div>
                    <div class="col">
                        <h2><b>house name</b></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <i style="color:blue;font-size: 30px;" class="material-icons">&#xe0c8;</i>
                    </div>
                    <div class="col">
                        <h2><b>Location</b></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <i style="color:blue;font-size: 30px;" class="fa fa-money"></i>
                    </div>
                    <div class="col">
                        <h2><b>Ksh 30,000</b></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <i style="color:blue;font-size: 30px;" class="	fas fa-house-user"></i>
                    </div>
                    <div class="col">
                        <h2><b>Mr Kevin Gates</b></h2>
                    </div>
                </div>
                <hr>
                <button class="btn btn-primary">REQUEST HOUSING</button>
            </div>

        </div>
        <div class="description">
            <h2>House Description</h2>
            <hr style="width: 70%;">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever <br> since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.. It has survived not <br>only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the <br> 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing <br> software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <hr style="width: 70%;">
        </div>
        <div class="contacts">
            <h2>Contacts</h2>
            <div class="row">
                <div class="col-lg-2">
                    <i style="color:blue;font-size: 30px;" class="fa fa-phone"></i>
                </div>
                <div class="col">
                    <h2><b>0712345678</b></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <i style="color:blue;font-size: 30px;" class="material-icons">&#xe0be;</i>
                </div>
                <div class="col">
                    <h2><b>mosesopiyo54@gmail.com</b></h2>
                </div>
            </div>
        </div>

    </div>

</div>
<app-housing-footer></app-housing-footer>