<app-pro-navbar></app-pro-navbar>
<div class="row g-0">
    <div class="col-lg-2">
        <div class="options">
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">dashboard</i>
                </div>
                <div class="col">
                    <a routerLink="/admin-panel">
                        <h3><b>Dasboard</b></h3>
                    </a>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i style="color: blue;" class="material-icons">chat</i>
                </div>
                <div class="col">
                    <h3 style="color: blue;"><b>Chat</b></h3>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">house</i>
                </div>
                <div class="col">
                    <a routerLink="/admin-houses">
                        <h3><b>My houses</b></h3>
                    </a>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">people</i>
                </div>
                <div class="col">
                    <a routerLink="/admin-tenants">
                        <h3><b>Tenants</b></h3>
                    </a>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">plus_one</i>
                </div>
                <div class="col">
                    <h3><b>Add potential tenant</b></h3>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;margin-top: 80%;">
                <div class="col-lg-1">
                    <i class="material-icons">logout</i>
                </div>
                <div class="col">
                    <h3><b>Logout</b></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style="margin-top: 1%;margin-left: 30px;">
        <h1>Main page</h1>
        <div class="dashboard-options">
            <div class="row g-0" style="margin-bottom: 50px;">
                <div class="col-lg-3">
                    <div class="card" style="align-items: center;">
                        <h2><b>Tenants</b></h2>
                        <h3><b>12</b></h3>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="align-items: center;">
                        <h2><b>Housing requests</b></h2>
                        <h3><b>50</b></h3>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="align-items: center;">
                        <h2><b>Vacate requests</b></h2>
                        <h3><b>5</b></h3>
                    </div>
                </div>
            </div>
            <div class="row g-0">
                <h2>Chat</h2>
                <div class="card" style="background-color:white;margin: 0;border: 0px;">
                    <div class="card" style="width: 100%;background-color: white;">
                        <div class="tenants-info">
                            <div class="row" style="margin-left: 1%;width: 100%;margin-right: 40px;margin-top: 20px;margin-bottom: 20px;">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>