input {
    width: 90%;
    height: 6vh;
    background-color: #ffffff;
    border: 2px solid blue;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.col-lg-7 {
    background: url(/housing/src/assets/images&videos/pexels-henry-5534746\ \(1\).mp4);
}

button {
    width: 120px;
    margin-bottom: 20px;
    margin-left: 22px;
}