<app-pro-navbar></app-pro-navbar>
<div class="row g-0">
    <div class="col-lg-2">
        <div class="options">
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">dashboard</i>
                </div>
                <div class="col">
                    <a routerLink="/admin-panel">
                        <h3><b>Dasboard</b></h3>
                    </a>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">chat</i>
                </div>
                <div class="col">
                    <a routerLink="/admin-chat">
                        <h3><b>Chat</b></h3>
                    </a>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i style="color: blue;" class="material-icons">house</i>
                </div>
                <div class="col">
                    <a routerLink="/admin-houses">
                        <h3 style="color: blue;"><b>My houses</b></h3>
                    </a>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">people</i>
                </div>
                <div class="col">
                    <a routerLink="/admin-tenants">
                        <h3><b>Tenants</b></h3>
                    </a>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-lg-1">
                    <i class="material-icons">plus_one</i>
                </div>
                <div class="col">
                    <h3><b>Add potential tenant</b></h3>
                </div>
            </div>
            <div class="row" style="padding-bottom: 15px;margin-top: 80%;">
                <div class="col-lg-1">
                    <i class="material-icons">logout</i>
                </div>
                <div class="col">
                    <h3><b>Logout</b></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style="margin-top: 1%;margin-left: 20px;">
        <h1>Main page</h1>
        <div class="dashboard-options">
            <div class="row g-0" style="width: 100%;margin: 0;">
                <div class="col-lg-8" style="width: 100%;">

                    <h2 style="margin-left: 12px;">Houses</h2>
                    <div class="card" style="background-color:white;margin: 0;border: 0px;">
                        <div class="card" style="width: 100%;background-color: white;border: 0ch;">
                            <div class="tenants-info">
                                <div class="row" style="width: 100%;margin-right: 40px;margin-top: 20px;margin-bottom: 20px;">
                                    <div class="col">
                                        <div class="card" style="background-color: white;width: 15pc;height: 20pc;border: 0;">
                                            <div class="info">
                                                <img src="https://images.pexels.com/photos/266812/pexels-photo-266812.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                                                <h2 style="color: black;padding-top: 15px;"><b>House name</b></h2>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <h2 style="margin-left: 50px;">
            <B>Overview</B>
        </h2>
        <div class="card" style="margin-top: 7%;margin-left:10%;width: 30pc;">
            <div class="overview-details">
                <div class="row">
                    <div class="col">
                        <h2>
                            <b>Houses:</b></h2>
                        <h3>30</h3>
                    </div>
                    <div class="col">
                        <h2><b>Tenants:</b></h2>
                        <h3>100</h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h2><b>Vacate requests:</b></h2>
                        <h3>2</h3>
                    </div>
                    <div class="col">
                        <h2><b>Housing requests:</b></h2>
                        <h3>2</h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h1 style="color: white;"><b>Total income:</b></h1>
                        <h1 style="color:white;"><i class="fa fa-money" style="color: white;font-size: 30px;"></i><b>Ksh 100000000</b></h1>
                    </div>
                </div>
            </div>
        </div>
        <button routerLink="/new-house" class="btn btn-primary" style="margin-top: 7%;margin-left:10%;width: 30pc;">Add House</button>
    </div>
</div>